@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

:root{
  --default-color: #ffffff;
  --decor-color: #0cc0df;
  --bg-pattern: url("../img/header_footer.png");
  --primary-color: #000000;
  --secondary-color: #3a3a3a;
  --ternary-color: #ffd000;
  --primary-text: "Dela Gothic One", sans-serif;
  --secondary-text: "Inter", sans-serif;
  --ternary-text: "Madimi One", sans-serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--default-color);
  font-family: var(--primary-text);
  color: var(--primary-color);
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.6;
}

p {
  color: var(--secondary-color)
}

h4, span {
  color: var(--primary-color);
}

p, h4, span {
  font-family: var(--secondary-text);
}

ul {
  list-style-type: none;
  padding-left: 0;
}

header, footer {
  background-image: var(--bg-pattern);
  background-repeat: repeat-x;
  padding: 5px;
  border: 4px solid var(--primary-color);
  width: 100%
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-title img {
  display: block;
  height: auto;
}

footer {
  font-family: "Anton SC", sans-serif;
  color: var(--ternary-color);
  margin-top: 4rem;
}

.primary a {
  font-family: "Lilita One", sans-serif;
  color: var(--default-color);
  text-decoration: none;
}

.primary a, footer {
  text-shadow: var(--primary-color) 2px 2px;
}

section {
  margin: 2rem 0;
  padding: 0 1rem;
}

section p {
  margin-bottom: 2rem;
}

.about {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 1.5rem;
}

#training {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.about p, .tricks p {
  margin-bottom: 4rem;
}

.tips h3 {
  margin: 4rem 0 1rem 0;
}

.tips ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.about img, .commands img, .tricks img {
  border: 4px solid var(--primary-color);
  margin-bottom: 1rem;
}

.about h2, #training h4, .sources h3, .wrapper > h3 {
  margin-bottom: 1rem;
}

.sources a {
  font-family: var(--ternary-text);
  font-size: 1.5rem;
  color: var(--ternary-color);
  text-decoration: none;
  background-color: var(--decor-color);
  border: 3px solid var(--primary-color);
  padding: 7px 20px;
  display: inline-block;
  transition: 0.2s;
}

.sources a:hover {
  background-color: var(--ternary-color);
  color: var(--default-color);
}

.sources {
  padding-bottom: 4rem;
}

.sources ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.wrapper > h3 {
  margin: 4rem 0 1rem 0;
  text-align: center;
  font-family: var(--primary-text);
}

.sources a, .tips span {
  -webkit-text-stroke: 2px var(--primary-color);
}

.tips span {
  font-family: var(--ternary-text);
  font-size: 2rem;
  color: var(--ternary-color);
}

.accordion {
  background-color: var(--decor-color);
  cursor: pointer;
  font-size: 1.5rem;
  width: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
  transition: 0.2s;
  position: relative;
  font-weight: bold;
}

.accordion h4 {
  font-family: var(--ternary-text);
  color: var(--ternary-color);
  -webkit-text-stroke: 1px var(--primary-color);
  margin-bottom: 0;
}

.active, .accordion:hover {
  background-color: var(--ternary-color);
}

.active h4, .accordion:hover h4 {
  color: var(--default-color);
}

.active {
  border-bottom: var(--primary-color) 4px solid;
}

.pannel {
  padding: 0 2rem;
  overflow: visible;
  max-height: none;
  background-color: var(--default-color);
  color: var(--primary-color);
  transition: max-height 0.2s ease;
}

.js .pannel {
  max-height: 0;
  overflow: hidden;
}

.js .pannel.open {
  max-height: 500px;
}

.pannel p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 30px;
}

.faq {
  display: grid;
  grid-template-columns: 1fr;
}

#menuToggle {
  display: block;
  position: fixed;
  left: 1rem;
  padding: 0.5rem;
  transform: translateY(-50%);
  z-index: 1;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: var(--ternary-color);
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span {
  display: block;
  width: 35px;
  height: 6px;
  margin-bottom: 5px;
  position: relative;
  background: var(--ternary-color);
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  z-index: 1;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menuToggle input:checked ~ ul {
  transform: none;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-height: 100vh;
  margin: -25px 0 0 -16px;
  padding: 50px;
  overflow-y: auto;
  background: var(--decor-color);
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu, .faq {
  border: 4px solid var(--primary-color);
}

#menu li {
  padding: 10px 0;
  font-size: 2rem;
}

@media screen and (min-width: 768px) {

  section {
    margin: 4rem 0;
    padding: 0 2rem;
  }

  .container {
    max-width: 900px;
    margin: 0 auto;
  }

  .about {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    text-align: left;
    column-gap: 2rem;
  }

  .about img {
    grid-column: 1;
    grid-row: 1/3;
    max-width: 280px;
    width: 100%;
    justify-self: start;
  }

  .about h2 {
    justify-self: start;
    grid-column: 2;
    grid-row: 1;
    align-self: end;
    margin-bottom: 0.5rem;
    line-height: 1.1;
  }

  .about p {
    grid-column: 2;
    grid-row: 2;
    align-self: start;
    justify-self: start;
    max-width: 420px;
    line-height: 1.6;
  }

  #training {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title title"
      "commands tricks";
    text-align: left;
  }

  #training h3 {
    grid-area: title;
    margin-bottom: 1rem;
  }

  .about h2, #training h3, .sources h3, .tips h3, .wrapper > h3 {
    font-size: 3rem;
  }

  .about p, .tips p, .sources p, .wrapper p {
    font-size: 1.6rem;
  }

  .tips span {
    font-size: 2.5rem;
  }

  .wrapper h4, .sources a {
    font-size: 2rem;
  }

  .commands, .tricks {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "image title"
      "image text";
    column-gap: 1.5rem;
  }

  .commands {
    grid-area: commands;
  }

  .tricks {
    grid-area: tricks;
  }

  .commands img, .tricks img {
    grid-area: image;
    height: 220px;
    object-fit: cover;
  }

  .commands img {
    width: 220px;
  }

  .tricks img {
    width: 150px;
  }

  .commands h4, .tricks h4 {
    grid-area: title;
    font-size: 1.4rem;
  }

  .commands p, .tricks p {
    grid-area: text;
    font-size: 1.3rem;
  }

  .sources {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    gap: 2rem;
    align-items: center;
  }

  .sources h3, .sources p {
    grid-column: 1 / 1;
  }

  .sources ul {
    grid-column: 2;
    grid-row: 1 / 3;
  }

  .sources a {
    width: 100%;
    text-align: center;
  }

  .tips h3 {
    margin-bottom: 4rem;
  }

  #menuToggle span {
    width: 70px;
    height: 10px;
    margin: 8px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
  }
}